$primary-bright-orange: hsl(31, 77%, 52%);
$primary-Dark-cyan: hsl(184, 100%, 22%);
$primaryVery-dark-cyan: hsl(179, 100%, 13%);
$neutral-Transparent-white: hsla(0, 0%, 100%, 0.75);
$neutral-Very-light-gray: hsl(0, 0%, 95%);
